* {box-sizing: border-box;}

body {      /*шапка сайта*/
  margin: 0;

  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: green;   /*замена цвета*/
  padding: 27px 10px;     /*ширина полоски*/
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 2px;
}

header a.logo {
  font-size: 30px;
  font-weight: bold;
}

header a:hover {
  background-color: red; /*замена цвета при наведении*/
  color: #2122;
}

header a.active {
  background-color: #FBC02D; /*замена главного цвета*/
}

nav {
  display: flex;
  align-items: center;
  }
  
  
.span {
  display: inline-block;
  transform: translate(45em, 2em);
}